<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.willy.storyapp2" >

    <uses-sdk android:minSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/storyteller_logo_alpha"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >




        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.EasterEggActivity"
            android:label="Fest i Hammarö!" />

        <activity
            android:name=".activities.StoryModeActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.AuthenticateActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activities.StoryShowcaseActivity"
            android:label="@string/title_activity_story_showcase" >
        </activity>
        <activity
            android:name=".activities.AfterPostActivity"
            android:label="@string/title_activity_after_post" >
        </activity>

        <activity android:name=".activities.StoryModeView"
            android:label="StoryMode" >
        </activity>

    </application>

</manifest>
